<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div style="position: absolute; right: 12px; top: 12px;">
      <p>Username or Password Incorrect, Please <a href="/">Try Again</a></p>
    </div>
  </div>
</nav>
