<!-- nice use of partials overall!! -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon glyphicon-tree-deciduos"></span>
        <% if(currentUser) { %>
          <span><%= currentUser.username %>'s TinyApp</span>
          <% } else { %>
            <span>TinyApp</span>
            <% } %> <!-- fix indentation -->
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/your_urls">URLs</a></li>
    </ul>

  </div>
</nav>
