<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon glyphicon-tree-deciduos"></span>
        <!-- TinyApp -->
        <% if(username) { %>
          <span><%= username %>'s TinyApp</span>
          <% } else { %>
            <span>TinyApp</span>
            <% } %>
      </a>
    </div>


    <!-- <% if(username) { %>
      <div style="position: absolute; right: 12px; top: 12px;">
        <form method="POST" action="/logout">
          <input type="submit" value="Sign Out" style="margin: 4px, 0px, 0px, 0px; width: 68px;">
          <button type="submit" name="button">
            Sign Out
          </button> -->
        <!-- </form>
      </div>
    <% } else { %>
      <div style="position: absolute; right: 0px; top: 0px;">
        <form method="POST" action="/login">
          <input type="submit" value="Sign In" style="margin: 4px, 0px, 0px, 0px; width: 68px;">
          <!-- <button type="submit" name="button"> -->
            <!-- Sign In -->
          <!-- </button> -->
          <!-- <input name="username" type="text" style="width:150px; margin: 14px;">
        </form>
      </div>
      <div style="position: absolute; right: 250px; top: 0px; margin: 15px;">
        <form method="GET" action="/register">
          <input type="submit" value="Sign Up" style="margin: 10px, 0px, 0px, 0px; width: 68px;"> -->
          <!-- <button type="submit" name="button"> -->
            <!-- Sign Up -->
          <!-- </button> -->
        <!-- </form>
      </div>
    <% } %> -->

    <!-- <% if(username) { %>
      <div><h4>Welcome back <%= username %></h4></div>
      <% } else { %>
        <div>Welcome stranger. Why not sign in?</div>
        <% } %> -->

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/urls">URLs</a></li>
    </ul>

  </div>
</nav>
