<!DOCTYPE html>

<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/error_top %>
    <% include ../partials/header %>
  </hader>

  <main>
    <div class="jumbotron">
      <h1>Welcome to TinyApp's 404 Page</h1>
      <p>Requested URL is Not Valid</p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
