<!DOCTYPE html>

<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/error_top %>
    <% include ../partials/header %>
  </hader>

  <main>
    <div class="jumbotron">
      <h1>Welcome to TinyApp's 403 Page</h1>
      <p>The Page You Requested Is <strong>Forbidden</strong></p>
      <!-- <p>Username or Password Incorrect, Please Try Again</p> -->
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
