<!DOCTYPE html>

<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/buttons %>
    <% include ../partials/header %>
  </hader>

  <main>
    <div class="jumbotron">
      <h1>Welcome to TinyApp</h1>
      <p>The Latest in URL shortening technology.</p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
