<!DOCTYPE html>

<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </hader>

  <main>
    <div class="jumbotron">
      <form action="/urls" method="POST" style="margin:42px;">
        <label for="enterURL">Enter a URL:</label>
        <input id="enterURL" type="text" name="enterURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="col-sm-4">


    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
