<!DOCTYPE html>

<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/buttons %>
    <% include ../partials/header %>
  </hader>

  <main>
    <div class="jumbotron">
      <form method="POST" action="/your_urls" style="margin:42px;">
        <label for="longURL">Enter a URL:</label>
        <input longURL="longURL" type="text" name="longURL" placeholder="www." style="width: 300px">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div class="col-sm-4">

    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
