<!DOCTYPE html>

<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">

        <div class="jumbotron">
          <h1>Your URLs</h1>
          <ul>
            <% for(let key in urls) { %>
              <li>
                <a href="/urls/<%= key %>">
                  http://tinyapp.com/u/<%= key %>
                </a>
                - <%= urls[key]%>
                <form method="GET" action="/urls/<%= key %>/edit">
                  <input type="submit" value="EDIT" style="margin:6px;">
                </form>
              </li>
            <% }; %>
          </ul>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="well">
          <a href="new">
            <h3>Shorten a URL</h3>
          </a>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
